@import ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap.scss

@import ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables.scss

@import ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins.scss

@import ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize.scss

@import ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding.scss

@import ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type.scss

/*Meu CSS*/

/*Cabeçalho*/
body 
    background: url("../img/background.jpg") center center no-repeat fixed 
    background-size: cover
.topo
    display: flex 
    flex-direction: row  
    border-radius: 25px 25px 0 0
    margin-top: 10px 
.banner
    background: url("../img/wallpaper.jpg") center center no-repeat
    background-size: cover
    border-radius: 0 25px 0 0
    border: 1px solid #000    
    height: 300px
    opacity: 0.8
    width: 75%
.logo
    padding: 15px
    border-radius: 25px 0 0
    height: 300px
    width: 25%    
    opacity: 0.8
    background-color: #000
.menu
    background-color: #000
    opacity: 0.9
    color: #fff
    li
        padding: 5px 20px 0px			
        line-height: 60px
        font-size: 1.3em
        display: inline-block
        a 
            text-decoration: none
            color: #fff
        

/*Conteudo*/
.conteudo
    display: flex
    justify-content: space-between
    div
        text-align: center
        color: #fff
        background: #000
        width: 50%
        iframe
            padding-top: 20px
.banercentral   
    img
        width: 100%

/*Footer*/
.rodape
    color: #fff
    div
        border-radius: 0 0 25px 25px
        padding: 15px
        width: 100%
        background: #000
        text-align: center